@page "/SimulatedAnnealing"
@using System.Runtime.InteropServices

@inject IStringLocalizer<Resource> localizer;

<PageTitle>@localizer["SimulatedAnnealing"]</PageTitle>

<div class="row">
    <h2>Things to do: </h2>
    <ul>
        <li>
            TODO: Math input to provide your own function to optimise
        </li>
        <li>
            TODO: Chart which shows current solution.
        </li>
        <li>
            TODO: Possibility to show travelsman's problem.
        </li>
    </ul>
</div>

<div class="row">
    <h1>@localizer["Common.SelectFunctionToOptimize"] <RadzenButton id="startButton" Text="Start" Click="() => Start()" /> </h1>
    
    <div class="card">
        <RadzenDropDown TValue="SingleDimensionalExample" Data="@Examples" @bind-Value="CurrentExample" TextProperty="Name" />
        @localizer["Common.StartEncourage"]
    </div>

    <RadzenChart>
        <RadzenLineSeries Data="@CurrentExample.DrawingData" CategoryProperty="X" ValueProperty="Y">
            <RadzenChartTooltipOptions Visible="false" />
        </RadzenLineSeries>
        <RadzenLegend Visible="false" />
    </RadzenChart>

</div>

@if (History.Any())
{
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    @if (!IsRunning)
                    {
                        @string.Format(localizer["Common.BestResult"], CurrentIteration)
                    }
                    else
                    {
                        @string.Format(localizer["Common.CurrentResult"], CurrentIteration)
                    }
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    @string.Format(localizer["Common.CurrentBestSolution"], CurrentSolution?.ElementAt(0)) <br />
                </li>
                <li class="list-group-item">
                    @string.Format(localizer["Common.CurrentBestResult"], CurrentResult)
                </li>
            </ul>

        </div>
    </div>

    @if (IsRunning)
    {
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated" 
                 role="progressbar" aria-valuenow="100" aria-valuemin="0" 
                 aria-valuemax="100" style="width: 100%">
                @localizer["Common.Calculating"]
            </div>
        </div>
    }
    <div class="row flex-grow-1 overflow-auto vh-75">

        <table class="table table-hover table-sm overflow-auto">
            <thead style="position: sticky; top: 0;" class="bg-light">
                <tr>
                    <th scope="col">@localizer["Common.StepNo"]</th>
                    <th scope="col">@localizer["Common.XParameter"]</th>
                    <th scope="col">@localizer["Common.IterationValue"]</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var hist in History)
            {
                <tr>
                    <td>@hist.Step</td>
                    <td>@hist.X[0].ToString("F5")</td>
                    <td>@hist.Value.ToString("F5")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
